html {
    font-size: 62.5%;
}

body {
    margin: 0.5rem;
}

header {
    color:dodgerblue;
    font-size: 5rem;
    font-weight: bolder;
    text-align: center;
}

nav ul a:hover {
    color: chocolate;
}    

.container {
    display: flex;
    flex-direction: column;
    border: 3px solid lightgrey;
}

ul {
    display: flex;
    flex-direction: row;
    font-size: 2.5rem;
    justify-content:space-evenly;   
}

img {
    padding: 0.5rem;
    width: 100%;
    object-fit: cover;
}