html {
    font-size: 62.5%;
}

body {
    margin: 0.5rem;
}

header {
    color:dodgerblue;
    font-size: 5rem;
    font-weight: bolder;
    text-align: center;
    text-shadow: 10px 10px 10px dodgerblue;
}

nav ul a:hover {
    color: chocolate;
}    

ul {
    display: flex;
    flex-direction: column;
    font-size:2.5rem;
    font-weight: bold;
    align-items:center;
}

.gallery {
    display: grid;
    grid-gap: 10px;
}

.gallery img {
    object-fit: cover;
    width: 100%; 
    border-radius: 5px;   
}

@media screen and (min-width: 768px) {
    .gallery {
    grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px){
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    .gallery img:nth-of-type(3) {
        grid-column: 2 / 4;
        grid-row: 1 /3;
    }
}